{% extends 'PlanningSystem/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Загрузка плана продаж по каналам</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'load_plan_chanel' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Загрузить" class="btn btn-primary">
            </form>
        </div>
    </div>

</div>
</body>
</html>
{% endblock content %}